<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDnizyTrzk57tswQlxKCUl8rvsLQq378Yk</string>
	<key>GCM_SENDER_ID</key>
	<string>397827443104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expenseMaster.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>expensemaster-19ec1</string>
	<key>STORAGE_BUCKET</key>
	<string>expensemaster-19ec1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397827443104:ios:609892c49c991dd03abcc5</string>
</dict>
</plist>